.outer {
    display: table;
    position: absolute;
    margin:0%;
    height: 80%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-color:#D9D9D9;
    border-radius: 2px;
    border-width: 1px;
    padding: 40px 30px 20px 30px;
    width: 250px/*whatever width you want*/;
    font-size: 20px;
}

.btn{
    background: #042CC9;
}