
{% load staticfiles %}
  <html>
        <head>
            <!-- LINK TO BOOTSTRAP STUFF -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        </head>
         <body>

               <nav class="navbar navbar-default navbar-static-top">


                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="/"><span class='glyphicon glyphicon-home'> Home</span></a></li>
                          <li class="nav navbar-nav"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">


                            
                            {% if is_manager %}
                                <li ><a href="/manager_page"><span class="glyphicon glyphicon-pencil"></span> Manager Options </a></li>
                            {% endif %}

                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->

                            <li ><a href="/search"><span class="glyphicon glyphicon-search"></span> Search </a></li>

                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                        </ul>
                      </div>
                </nav>

                <div class="jumbotron">

                    <h1  class="display-3">Movies 405</h1>
                    <p class= "lead">A simple movie database.</p>
                </div>
                
                <div id="about" class="abt-container">
                    <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" >
                        <h2>About</h2>   
                         <p>This website implements a django powered movie database. Registering for this website allows you to:

                         <ul>
                            <li>Search for movies based on <em>genre</em>, <em>title</em>, <em>movie crew</em> </li>
                            <li>Add tags to movies</li>
                            <li>Add reviews to movies</li>
                            <li>Rate movies. Let us know what movies are your favorite!</li>
                         </ul>
                         If you are lucky enough to be a manager, you will be able to add, delete, and modify the movies we have on record!
                         </p>
                    </div>
                </div>
                </div>

                <div id="contribute" class="abt-container">
                    <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" >
                        <h2>Contributions</h2>
                      <!-- <div id='pic' class='container'>
                           <div class="pic-cont"><img src="http://i.imgur.com/JojDgrb.jpg" title="source: imgur.com" height="40%"/></div>
 		                        <div id='caption'>
 		                            <h6>Lucian, Katie, Daniel, and Tristan posing next to an early version of their website.</h6>
 		                        </div>
                        </div>-->
 		                   <p>This website was created by Daniel Ng, Katie Long, Lucian Hymer, and Tristan Basil. Each team member helped with nearly every part of the project in addition to their focus area for this project.
 
                          <ul>
 			    
                             <li><strong>Daniel:</strong> Co-created the search function and its method of displaying the results. Assisted with HTML and CSS styling. </li>
 			    
                             <li><strong>Katie:</strong> Handled front-end HTML and CSS design along with the connecting of the two. Co-created the add review function. </li>
 
 			    
                             <li><strong>Lucian:</strong> Created the register, login, add movie, update movie, add crew, and update crew forms. </li>
 			    
                             <li><strong>Tristan:</strong> Co-created the search functionality and its method of displaying the results. Co-created the add review function. </li>
 			    
                          </ul>
 
                         </p>
 
                      </div>
                    </div>
                </div>
                </div>
 
 
 
         </body>
 
  </html>
