
{% load staticfiles %}
<html>
	<head>  
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/log_in.css' %}"></head>
<body>
               <nav class="navbar navbar-default navbar-static-top">
                      <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                          <li><a href="/"><span class='glyphicon glyphicon-home'> Home</span></a></li>
                          <li class="disabled"><a href="#contribute">Contributions</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">


                            {% if is_manager %}
                                <li ><a href="/manager_page"><span class="glyphicon glyphicon-pencil"></span> Manager Options </a></li>
                            {% endif %}
                            <!--https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
                            <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                        </ul>
                      </div>
                </nav>
	<!--https://codepen.io/OldManJava/pen/bwupj -->
		<div class ="container">
    		<div class="outer">
<!-- 			 <div class="middle"> -->
    			<div class="inner">

					    {% if errors %}

						{% for error in errors %}
						<li><p style="color: red;">
							{{ error }}
						</p></li>
						{% endfor %}

					    {% endif %}

					<form action="/login/" method="post" />
					{% csrf_token %}

					
					{{ form.as_p }}
					<div class="text-center">
					 <input type="submit" class="btn btn-block button" value="Log in" />

				<br>	
    				<p> Don't have an account? <br> <a href="/register">Register Now</a></p>
				</div>
    			</div>
		</div>
</body>
</html>
